name: runtests
on: [push, pull_request]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Setup Go
        uses: actions/setup-go@v2
        with:
          go-version: '^1.17.x'
          check-latest: true
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Test
        run: go test ./...
